body{
    color: rgba(18, 1, 252, 0.822);
    background: linear-gradient( rgb(243, 113, 185),rgb(245, 16, 157), rgb(201, 12, 122), rgb(100, 8, 59), black);
} 
 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

#tywater{
    height: 150px;
    width: 150px;
    border-radius: 360%;
    float: left;
}
#title{
    padding: 0px;
    float: left;
    text-align: center;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    background-color: #F41588;
    margin: 1em;
    padding: 0;
    
}
#navlist{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
.navBTN{
    float: left;
    border: solid;
    border-style: groove;
    border-radius: 360%;
    border-color: rgb(240, 243, 33);
    margin: 20px;
    
  }
li a{
    display: block;
    color: rgb(34, 79, 226);
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    background-color: rgb(240, 243, 33);
    border-radius: 360%;
}
li a:hover{
    background-color: #f0453f;
    border-radius: 360%;
}
.active {
    background-color: #f0453f;
    border-radius: 360%;
  }
h1, h2{
    float: left;
    margin: 10px;
    text-align: center;
  }



 
  
/*game*/
#stats{
    float: left;
    margin: 10px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}

.square {
    height: 200px;
    width: 200px;
    border: solid 1px rgb(223, 19, 223);
}

.cat {
    
    background-image: url("./photos/catmole2.JPG");
    background-size: cover;
}

/*Footer*/
    
#footer{
    background-color: #F41588;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
   
}   